.Not_Found{
    position: relative;
}

.err_code{
    font-size: 72pt;
}

.bg_ee{
    position: absolute;
    top: 0;
    width: 72%;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/man-looking-through-magnifying-glass-with-serious-and-thoughtful-look-searching-or-investigating-standing-over-yellow-background_1258-67353.jpg?w=1380&t=st=1684093126~exp=1684093726~hmac=ea23e04d3c8b7eee69609ce59a0b00b9da1e8a46df57407026ffc1a1866a19cc');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.ttt{
    width: 66%;
    z-index: 9;
    text-align: right;
    color: azure;
    /* box-shadow: 10px 10px 5px 12px lightblue; */

}
.jj{
    text-shadow: #000 1px 0 10px;
}
.link_pic{
    left: 25%;
    top:5%;
    position: absolute;
    z-index: 9;
    font-size: 8pt;

}
.ddfg{
    margin-top: 35%;
}